
@{
    ViewBag.Title = "Show";
}

<h2>Afisare Produs</h2>
<br />
<a href="/Products/Index">Inapoi la produse</a>
<br />

<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Product.ProductName</div>
    <div class="panel-body">
        Descriere produs: <strong>@ViewBag.Product.Description</strong>
        <br />
        <strong>@ViewBag.Product.Price Lei</strong>
        <br />

        <i class="glyphicon glyphicon-list"></i> @ViewBag.Category.CategoryName
        <i class="glyphicon glyphicon-heart-empty"></i> @ViewBag.Animal.Species
        <br />
        <span class="label label-info">@ViewBag.Product.Stock Produse disponibile</span>
        <span class="label label-success">@ViewBag.Product.Date</span>
        <hr>
        <a class="btn btn-success pull-left" href="/Products/Edit/@ViewBag.Product.ProductID">Modifica produs</a>
        <form method="post" action="/Products/Delete/@ViewBag.Product.ProductID">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Elimina produs</button>
        </form>
    </div>
</div>
<br />
<br />
<hr />
@if (ViewBag.Product.Reviews.Count == 1)
{
<h3>1 review</h3>
}
else if (ViewBag.Product.Reviews.Count == 0)
{
<h3>Niciun review</h3>
}
else if (ViewBag.Product.Reviews.Count < 20)
{
<h3>@ViewBag.Product.Reviews.Count review-uri</h3>
}
else
{
    <h3>@ViewBag.Product.Reviews.Count de review-uri</h3>
}

<br /><br />
@foreach (var review in ViewBag.Product.Reviews)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <strong>@review.User.Username</strong>
                    
                    <p>@review.Content</p>
                    <small class="pull-right">@review.Date</small>
                </div>
                <div style="display: inline-block; float : left; margin-right: 15px">
                    <a class="glyphicon glyphicon-pencil" href="/Reviews/Edit/@review.ReviewID"></a>
                </div>
                <div style="display: inline-block; float : left">
                    <form method="post" action="/Reviews/Delete/@review.ReviewID">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Reviews/New">
                    <div class="panel-body">
                        <input type="hidden" name="ProductID" value="@ViewBag.Product.ProductID" />
                        <label>Continut review</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Adauga review</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
